.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.btn-login {
    margin-right: 10px;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

.sidenav {
    text-align: center;
    margin-top: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #110ef7;
}