<div class="row" style="height: 100%;">
    <div class="col-md-12">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Nadeesha Pathiraja</span>
                <span class="example-spacer"></span>
                <button routerLink='login' class="btn-login" mat-raised-button>LogIn</button>
                <button routerLink='register' class="btn-register" mat-raised-button>Register</button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="row" style="height: 100%;">
            <div class="col-md-2" style="background-color: grey;">
                <img src="../assets/images/profile.jpg" style="width: 215px;">
                <div class="sidenav">
                    <a href="#about">About</a>
                    <a href="#services">Services</a>
                    <a href="#clients">Clients</a>
                    <a href="#contact">Contact</a>
                </div>

            </div>
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>