<div style="margin-top: 60px;" class="container">

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 30rem;">
                <form [formGroup]="registraionForm">
                    <h1 style="text-align: center; margin-top: 20px;">Registraion Form</h1>

                    <div style="width: 25rem; margin-left: 2.5rem;" class="example-container">


                        <mat-form-field style="margin-top: 10px;">
                            <input [formControl]="fullName" placeholder="Full Name">
                        </mat-form-field>
                        <mat-form-field style="margin-top: 10px;">
                            <input [formControl]="address" placeholder="Address">
                        </mat-form-field>
                        <mat-form-field style="margin-top: 10px;">
                            <input [formControl]="dob" placeholder="Date Of Birth">
                        </mat-form-field>
                        <mat-form-field style="margin-top: 10px;">
                            <input [formControl]="email" placeholder="Email">
                        </mat-form-field>
                        <mat-form-field style="margin-top: 10px;">
                            <input [formControl]="Password" placeholder="Password">
                        </mat-form-field>

                    </div>

                    <div class="row" style="margin-left: 30px;">
                        <div class="col">
                            Are You Already Registerd <a style="color: blue;" href="login">signIn</a>
                            <hr/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">

                            <button mat-raised-button (click)="getData()" color="primary">SignUp</button>
                            <button mat-raised-button style="margin-left: 20px;margin-bottom: 30px;" (click)="form.reset()" color="warn">Reset</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div>
                        <p>
                            Full Name: {{ fullName.value }}
                        </p>
                        <p>
                            Address: {{ address.value }}
                        </p>
                        <p>
                            Date Of Birth: {{ dob.value }}
                        </p>
                        <p>
                            Email: {{ email.value }}
                        </p>
                        <p>
                            Password: {{ password.value }}
                        </p>
                    </div>

                    <p>
                        <button (click)="updateName()">Update Name</button>
                    </p>

                </form>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>